<div class="field">
  <div class="field-title">
    Select File
  </div>
  <div class="field-element">
  <input type="file" class="field-select-element" (change)="fileSelectEvent($event.target)">
  </div>
</div>

<div class="field">
  <div class="field-title">
    Select Panel
  </div>
  <div class="field-element">
    <div class="selected-panel-disp" *ngIf="selectedPanelReference && selectedPanelReference.key" (click)="expandPanelList = !expandPanelList" [ngClass]="{'selected-panel-disp-inset':expandPanelList}">{{selectedPanelReference.key}} {{movableLogicCount}} / {{totalLogicCount}}</div>
    <div class="selected-panel-disp" *ngIf="!(selectedPanelReference && selectedPanelReference.key)" (click)="expandPanelList = !expandPanelList" [ngClass]="{'selected-panel-disp-inset':expandPanelList}">Select a panel</div>
    <div *ngFor="let panel of panelReferenceArray" (click)="setPanelReference(panel)" class="panel-list-entry" [hidden]="!expandPanelList">
        {{panel.key}}
    </div>
  </div>
</div>

<div class="floating-button-round">></div>
