.content-left {
  width:20%;
  float: left;
  min-height: 600px;
  margin-top: 20px;
}
.content-right {
  width:80%;
  float: right;
  background-color: white;
  margin-top: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.page-title {
  width: 100%;
  text-align: center;
  height: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 12px;
  margin-top: 10px;
  font-size: 25px;
  cursor: default;
}
