<div class="field">
  <div class="field-title">
    Selected Parent Form
  </div>
  <div class="field-element">
  <input type="text" class="field-select-element" value="parent-form.json" disabled>
  </div>
</div>

<div class="field">
  <div class="field-title">
    Selected Child Form
  </div>
  <div class="field-element">
  <input type="text" class="field-select-element" value="child-form.json" disabled>
  </div>
</div>

<div class="field">
  <div class="field-title">
    Select Logic Panel
  </div>
  <div class="field-element">
    <select class="field-select-element" [(ngModel)]="selectedParentPanel">
      <option *ngFor="let selectOption of parentPanelsArray" [value]="selectOption.index"> {{selectOption.description}} </option>
    </select>
  </div>
</div>

<div class="field">
  <input type="button" class="primary-button" value="Submit" (click)="getLogicBreakdown(selectedParentPanel)">
</div>
